<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_exlibris_pq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_exlibris_pq"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.BookList_TFG"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name="com.exlibris_project.booklist_tfg.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BookList_TFG.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.booklist_tfg.com.exlibris_project.booklist_tfg.ui.anadir.LibroDetalles"
            android:label="@string/menu_anadir"
            />
        <activity
            android:name="com.example.booklist_tfg.com.exlibris_project.booklist_tfg.ui.listadoLibros.LibroDetailsLista"
            android:label="@string/menu_detalles"
            />
        <activity
            android:name="com.example.booklist_tfg.com.exlibris_project.booklist_tfg.ui.estadisticas.GraficoSectoresActivty"
            android:label="@string/menu_grafico_sectores"
            />
        <activity
            android:name="com.example.booklist_tfg.com.exlibris_project.booklist_tfg.ui.estadisticas.GraficoBarrasActivity"
            android:label="@string/menu_grafico_barras"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>